In [1]:
import pandas as pd
import numpy as np

In [2]:
first_2019 = []
first_9 = [1,2,3,4,5,6,7,8,9]
for num in first_9:
    first_2019.append(pd.read_csv('20190{}-citibike-tripdata.csv'.format(num)))

In [3]:
begin_2019 = [0,1,2,3,4,5,6,7,8]

begin_list = []

for month in begin_2019:
    begin_list.append(pd.DataFrame(first_2019[month]).sample(10000))

In [4]:
begin_df = pd.concat(begin_list)

In [5]:
begin_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
301568,429,2019-01-09 17:16:19.2390,2019-01-09 17:23:28.5620,435.0,W 21 St & 6 Ave,40.741740,-73.994156,3255.0,8 Ave & W 31 St,40.750585,-73.994685,27697,Subscriber,1982,1
814208,895,2019-01-26 14:36:50.1450,2019-01-26 14:51:45.1880,520.0,W 52 St & 5 Ave,40.759923,-73.976485,520.0,W 52 St & 5 Ave,40.759923,-73.976485,29116,Subscriber,1963,2
85666,432,2019-01-03 16:43:54.4950,2019-01-03 16:51:07.4200,3317.0,10 St & 5 Ave,40.668627,-73.987001,3368.0,5 Ave & 3 St,40.672815,-73.983524,33220,Subscriber,1978,2
89903,514,2019-01-03 17:46:04.8830,2019-01-03 17:54:39.0600,517.0,Pershing Square South,40.751581,-73.977910,490.0,8 Ave & W 33 St,40.751551,-73.993934,30313,Subscriber,1988,1
147605,190,2019-01-05 09:19:52.4100,2019-01-05 09:23:02.7420,3592.0,Crescent St & Broadway,40.763359,-73.928647,3653.0,31 St & 35 Ave,40.758205,-73.928322,34659,Subscriber,1992,2

In [ ]:
last_2019 = []
last_3 = [10,11,12]
for num in last_3:
    last_2019.append(pd.read_csv('2019{}-citibike-tripdata.csv'.format(num)))

In [7]:
end_2019 = [0,1,2]

end_list = []

for month in end_2019:
    end_list.append(pd.DataFrame(last_2019[month]).sample(10000))

In [9]:
df = pd.concat([begin_df, rest_2019])

In [10]:
df.shape

(120000, 15)

In [11]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
301568,429,2019-01-09 17:16:19.2390,2019-01-09 17:23:28.5620,435.0,W 21 St & 6 Ave,40.741740,-73.994156,3255.0,8 Ave & W 31 St,40.750585,-73.994685,27697,Subscriber,1982,1
814208,895,2019-01-26 14:36:50.1450,2019-01-26 14:51:45.1880,520.0,W 52 St & 5 Ave,40.759923,-73.976485,520.0,W 52 St & 5 Ave,40.759923,-73.976485,29116,Subscriber,1963,2
85666,432,2019-01-03 16:43:54.4950,2019-01-03 16:51:07.4200,3317.0,10 St & 5 Ave,40.668627,-73.987001,3368.0,5 Ave & 3 St,40.672815,-73.983524,33220,Subscriber,1978,2
89903,514,2019-01-03 17:46:04.8830,2019-01-03 17:54:39.0600,517.0,Pershing Square South,40.751581,-73.977910,490.0,8 Ave & W 33 St,40.751551,-73.993934,30313,Subscriber,1988,1
147605,190,2019-01-05 09:19:52.4100,2019-01-05 09:23:02.7420,3592.0,Crescent St & Broadway,40.763359,-73.928647,3653.0,31 St & 35 Ave,40.758205,-73.928322,34659,Subscriber,1992,2

In [12]:
df.to_csv('all_2019_data.csv', index=False)

In [3]:
first_2020 = []
first_nums = [1,2,3,4,5,6,7,8,9]
for num in first_nums:
    first_2020.append(pd.read_csv('20200{}-citibike-tripdata.csv'.format(num)))

In [4]:
len(first_2020)

9

In [5]:
jan_thru_sept_2020 = [0,1,2,3,4,5,6,7,8]

l = []

for month in jan_thru_sept_2020:
    l.append(pd.DataFrame(first_2020[month]).sample(10000))

In [8]:
first_df = pd.concat(l)

In [9]:
first_df.shape

(90000, 15)

In [10]:
last_2020 = []
last_nums = [10,11,12]
for num in last_nums:
    last_2020.append(pd.read_csv('2020{}-citibike-tripdata.csv'.format(num)))

In [11]:
len(last_2020)

3

In [12]:
end_2020 = [0,1,2]

end = []

for month in end_2020:
    end.append(pd.DataFrame(last_2020[month]).sample(10000))

In [13]:
end_df = pd.concat(end)

In [14]:
end_df.shape

(30000, 15)

In [15]:
total_2020 = pd.concat([first_df, end_df])

In [16]:
total_2020.shape

(120000, 15)

In [17]:
total_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
836501,979,2020-01-22 17:23:56.8600,2020-01-22 17:40:16.2670,3260,Mercer St & Bleecker St,40.727064,-73.996621,523,W 38 St & 8 Ave,40.754666,-73.991382,38375,Subscriber,1995,1
488563,1684,2020-01-13 08:30:52.5930,2020-01-13 08:58:57.2830,453,W 22 St & 8 Ave,40.744751,-73.999154,305,E 58 St & 3 Ave,40.760958,-73.967245,40860,Subscriber,1968,1
314575,526,2020-01-09 19:33:33.6070,2020-01-09 19:42:19.7230,3101,N 12 St & Bedford Ave,40.720798,-73.954847,3081,Graham Ave & Grand St,40.711863,-73.944024,38874,Subscriber,1987,2
138508,1196,2020-01-05 15:59:44.4160,2020-01-05 16:19:40.4590,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3588,Vernon Blvd & 10 St,40.767186,-73.937355,33951,Customer,1969,0
1038876,449,2020-01-27 18:04:17.1320,2020-01-27 18:11:46.2310,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3285,W 87 St & Amsterdam Ave,40.788390,-73.974700,40229,Subscriber,1991,1

In [18]:
total_2020.to_csv('all_2020_data.csv', index=False)

In [20]:
combined = pd.concat([df, total_2020])

In [21]:
combined.shape

(240000, 15)

In [22]:
combined.to_csv('two_years_data.csv', index=False)